---
import "../styles/global.css";
const { content } = Astro.props;
import "@fontsource/schoolbell";
import "@fontsource-variable/comfortaa";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content={content.description ||
                "Ayuda a llenar de historias y conocimiento la biblioteca de una escuela en la frontera de Bolivia. Dona libros para crear oportunidades educativas."}
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{content.title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
